<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">test data
                    to our app!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Data</h2>
            </div>
            
                
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>