<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Form handling Demo</title>
  
</head>
<div layout:fragment="content" th:remove="tag">
<body>
<h1 class="py-5">Add User Details</h1>
<form method="post" th:action="@{/data/usersdatasave}" th:object="${userInfo}" class="col card p-3 mb-5">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" placeholder="Enter First Name" required type="text" th:field="*{firstName}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" placeholder="Enter Last Name" required type="text" th:field="*{lastName}"
               class="form-control"/>
               <div class="form-group">
                <label for="role">Role</label>
                <select id="role" required th:field="*{role}" class="form-control ">
                    <option value="" hidden>Select a role</option>
                    <option th:each="role : ${T(com.gairola.gairolaapp.entity.RoleDetails).values()}"
                            th:value="${role}"
                            th:text="${role}">
                    </option>
                </select>
            </div>
               <input type="submit" class="btn btn-primary" value="Create User">
            </form>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Created At</th>
                </tr>
                <tr th:if="${#lists.isEmpty(users)}">
                    <td colspan="5">No Records found. Add some...!</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                          <a th:href="@{/data/updateForm/{id}(id=${user.id})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/data/deleteForm/{id}(id=${user.id})}" class="btn btn-danger ml-2">Delete</a>
						</td>

                </tr>
            </table>     
    </div>
</div>
</body>
</html>