<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Form handling Demo</title>
  
</head>
<div layout:fragment="content" th:remove="tag">
<body>
<h1 class="py-5">Add User Details</h1>
<form method="post" th:action="@{/data/usersdatasave}" th:object="${userInfo}" class="col card p-3 mb-5">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" placeholder="Enter First Name" required type="text" th:field="*{firstName}"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" placeholder="Enter Last Name" required type="text" th:field="*{lastName}"
               class="form-control"/>
               <div class="form-group">
                <label for="role">Role</label>
                <select id="role" required th:field="*{role}" class="form-control ">
                    <option value="" hidden>Select a role</option>
                    <option th:each="role : ${T(com.gairola.gairolaapp.entity.RoleDetails).values()}"
                            th:value="${role}"
                            th:text="${role}">
                    </option>
                </select>
            </div>
               <input type="submit" class="btn btn-primary" value="Create User">
            </form>
            <table class="table table-striped table-bordered">
                 <tr>
                    <td>
                        <a th:href="@{'/data/page/1' + '?sortField=id&sortDir=desc'}">ID</a>
                    </td>
                    <td>
                        <a th:href="@{'/data/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">First Name</a>
                    </td>
                    <td>
                        <a th:href="@{'/data/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">Last Name</a>
                    </td>
                    <td>
                        <a th:href="@{'/data/page/' + ${currentPage} + '?sortField=role&sortDir=' + ${reverseSortDir}}">Role</a>
                    </td>
                    <td>
                        <a th:href="@{'/data/page/' + ${currentPage} + '?sortField=createdAt&sortDir=' + ${reverseSortDir}}">Created At</a>
                    </td>
                    
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
               
                <tr th:if="${#lists.isEmpty(users)}">
                    <td colspan="5">No Records found. Add some...!</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                          <a th:href="@{/data/updateForm/{id}(id=${user.id})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/data/deleteForm/{id}(id=${user.id})}" class="btn btn-danger ml-2">Delete</a>
						</td>

                </tr>
            </table> 
            <div>&nbsp;</div>
	<div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
	<div>&nbsp;</div>
	<div th:if="${totalPages > 1}">
		Total Items: [[${totalItems}]]
		&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/data/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
		<span th:unless="${currentPage > 1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage > 1}" th:href="@{'/data/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
		<span th:unless="${currentPage > 1}">Previous</span>
		
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/data/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/data/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentPage < totalPages}" th:href="@{'/data/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentPage < totalPages}">Last</span>
	</div>    
    </div>
</div>
</body>
</html>