
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="footer">
	<footer>
    <div class="container">
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <p class="text-center text-muted">&copy;
                  <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
                  <a href="#">Gairola Solutions Ltd.</a>
              </p>
          </div>
      </div>
    </footer>
  </th:block>
  </body>
  </html>
